.table-container {
 height: 500px;
 overflow-x: scroll;
 overflow-y: hidden;
}

.table {
 height: 99%;

 &__row {
  display: flex !important;
 }

 &__cell {
  flex: 1 !important;
  text-align: center !important;

  &.name {
   min-width: 170px;
  }
 }

 &__body {
  max-height: 500px;
  overflow-y: scroll;
 }

 &__ceil-container {
  height: 500px;
  overflow-y: scroll;
 }
}
