.table-container {
 height: 500px;
}

.table {
 height: 99%;

 &__row {
  display: flex !important;
 }

 &__cell {
  flex: 1 !important;
  text-align: center !important;

  &.name {
   min-width: 170px;
  }

  &.int {
   min-width: 100px;
  }
 }

 &__body {
 }

 &__head {
  .table__row {
   margin-right: 18px;
  }
 }
}
