.table {

 &__row {
  display: flex !important;

  &:not(.table-head):hover {
   background: #e5e5e5;
  }
 }

 &__cell {
  flex: 1 !important;
  text-align: center;
  border-right: 1px solid rgba(224, 224, 224, 1);

  &.name {
   min-width: 150px;
   text-align: left;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-transform: capitalize;
  }

  &.int {
   min-width: 100px;
   text-align: right;
  }

  &.bool {
   min-width: 80px;
   text-align: center;
  }

  &.enum {
   min-width: 100px;
   text-align: center;
  }

  &.date {
   min-width: 200px;
   text-align: center;
  }

  &.head {
   text-align: center;
  }
 }

 &__body {
 }

}
